
// Import font
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

// Color variables
$baby-blue: #E6F1FA;
$arapawa: #2b4967;
$darkash: #091016;
$poloblue: #9ab4d0;
$light-pink: #FDEBEE;
$cream: #FDFBF7;

// Base document colors
$navbar-bg: $baby-blue;
$navbar-fg: $arapawa;
$navbar-hl: $darkash;
$body-bg: $cream;
$body-color: $arapawa;
$link-color: $poloblue;