/* css styles */
iframe {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  display: block;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.navbar-brand img {
  max-height: 100px !important; /* Adjust to desired height */
  height: auto;
  width: auto;
}

a {
  color: #555;  /* gray */
}

a:hover {
  color: #333;  /* darker gray on hover */
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: 'Merriweather', serif;
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto; /* optional: centers the image */
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid #9ab4d0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #9ab4d0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: 'Merriweather', serif;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-family: 'Merriweather', serif;
}

.container, .container * {
  font-family: 'Merriweather', serif;
  color: #2b4967; /* fount color for navbar text */
}

.navbar {
  font-family: 'Merriweather', serif;
  color: #2b4967; /* fount color for navbar text */
}

.navbar {
  background-color: #E6F1FA; /* custom white background */
}

.navbar a {
  color: #2b4967;
  text-decoration: none; /* optional: removes underline */
}

.navbar a:hover {
  color: #091016 !important;
}


.square-img {
  width: 300px;         /* or another consistent size like 250px */
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 8px;   /* optional: rounds corners */
}

.btn.btn-primary {
  background-color: #9ab4d0;  
  border-color: #6c757d;       /* Gray border */
  color: white;                /* Text color */
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #2b4967;   /* Darker gray on hover */
  color: white;                /* Keep text white */
  box-shadow: none;            /* Remove blue glow */
  outline: none;               /* Remove outline */
  text-decoration: none;       /* Prevent underline */
}
